

<br>
<h5>Nuestros Emprendedores</h5>
<br>
<ul class="nav"  style="background-color:#f2d2ff;">
<li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Categorías de emprendedores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/emprendedorfiltrado/1">Servicios</a>
  </li>
  <li class="nav-item dropdown">
      <div class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Productos</i></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/emprendedorfiltrado/2">Comestibles</a></li>
                <li><a class="dropdown-item" href="/emprendedorfiltrado/3">No comestibles</a></li>
            </ul>
      </div>
  </li>
</ul>
<br>