
<div class="container-fluid rounded"  style="background-color:#f2d2ff;">
  <br>
  <div class="row justify-content-around">
    <div class="col-md-auto">
        <br>
        <ul class="nav">
          <li class="nav-item">
            <a class="navbar-brand" href="/inicio">Ilu Ayê</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emprendedor/0">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tienda">Tienda</a>
          </li>
        </ul>

        <p class="footer-company-about">Ilu Aye Mercado online de emprendedores necochenses.</p>
    </div>
      
    <div class="col-md-auto">
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">AXU Dev</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i></button>
          <button type="button" class="btn btn-primary"><i class="fa fa-twitter"></i></button>
          <button type="button" class="btn btn-primary"><i class="fa fa-linkedin"></i></button>
          <button type="button" class="btn btn-primary"><i class="fa fa-github"></i></button>
        </div>
        <br>
        <p class="footer-company-name">Web desarrollada por AXU Dev &copy; 2021</p>
    </div>
</div>
<br>