<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#f2d2ff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/inicio">Ilu Ayê</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/inicio">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emprendedor/0">Quienes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tienda">Tienda</a> <!--lucas gei-->
      </li>
    </ul>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit"><span class="fa fa-search"></span></button>
    </form>
  </div>
  </div>
</nav>
<br>
<img class="img-fluid mx-auto d-block" src="https://i.ibb.co/LQXs2fD/photo-2021-02-03-11-12-50.jpg" >
