
<!--render del emprendedor-->

{{#each esteemprendedor}}
        <div class="w-100 p-3" style="background-color: rgb(198, 195, 251);">
          <div class="mx-auto" style="width: 450px;">
            <img src={{logo}} class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{nombre}}</h5>
              <p class="p-3 mb-2 bg-light text-dark">{{descripcion}}</p>
            </div>
          </div>
        </div>
{{/each}}

<br>

<!--renderizado del mensaje para el emprendedor-->
{{> mensaje}}